.users {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 3%);
    height: -moz-fit-content;
    height: fit-content;
    background: #ffffff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.name {
    margin: 0;
    font-size: 16px;
    color: #0c0c0d;
    font-weight: 700;
    line-height: 1.3;
}

.status {
    font-size: 14px;
    font-weight: 500;
    color: #aaaaaa;
}

.location {
    font-size: 14px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.locationCountry,
.locationCity {
    font-weight: 600;
}

.locationCity {
    color: #aaaaaa;
}

.wrapBtn {
    width: 100%;
}

.btnUnfollow,
.btnFollow {
    border: none;
    width: 100%;
    box-sizing: border-box;
    background: #ee3434;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    border-radius: 0 0 15px 15px;
}

.btnFollow {
    background: #1b3f99;
}